<% include ../partials/header.ejs %>
<div class="container">
    <header class="jumbotron">
        <h1><%= car.brand%> <%= car.model %></h1>
        <p><%= car.description %></p>
        <a class="btn btn-primary" href="/cars/<%= car._id %>/comments/new">Add New Comment</a>
        <form class=".form-inline" action= "#" method="POST">
            <button class="btn btn-danger">Delete Current Model</button>
        </form>
    </header>
    <% car.comments.forEach(function(comment){%>
        <div class="list-group">

            <li class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><%= comment.title %></h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1"><p><%= comment.text %></p></p>
                <small><%= comment.author %></small>
            </li>
        </div>
    <% }); %>
</div>


<% include ../partials/footer.ejs %>
